%h1 Listing wikis

%table.table
  %thead
    %tr
      %th Title
      %th Body
      %th Options

  - @wikis.each do |wiki|
    %tr
      %td= wiki.title
      %td= wiki.body
      %td
        = link_to 'Show', wiki
        - if current_user
          = link_to 'Edit', edit_wiki_path(wiki)

%br

= link_to 'New Wiki', new_wiki_path
