%h4 My Wikis

%table.table
  %thead
    %tr
      %th Title
      %th Body
      %th Visibility
      %th Options

  - @my_wikis.each do |wiki|
    %tr
      %td= wiki.title
      %td= wiki.body
      - if wiki.public == true
        %td Public
      - else
        %td Private
      %td
        = link_to 'Show', wiki
        = link_to 'Edit', edit_wiki_path(wiki)
        = link_to 'Destroy', wiki, :method => :delete, :data => { :confirm => 'Are you sure?' }

%h4 My Collaborations

%table.table
  %thead
    %tr
      %th Title
      %th Body
      %th Options

  - @collab_wikis.each do |wiki|
    %tr
      %td= wiki.title
      %td= wiki.body
      %td
        = link_to 'Show', wiki
        = link_to 'Edit', edit_wiki_path(wiki)

